name: CI

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:
  win-msvc-build:
    runs-on: windows-latest
    strategy:
      matrix:
        config: 
          - { arch: x86, msvc_arch: Win32 }
          - { arch: x64, msvc_arch: x64 }
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.config.arch }}
    - name: Build obuparse
      run: |
        cd ${{ github.workspace }}
        git clone https://github.com/dwbuiten/obuparse.git
        cd obuparse
        cl /c obuparse.c
        lib obuparse.obj /OUT:obuparse.lib
        move obuparse.h ..
        move obuparse.lib ..

    - name: Build
      run: |
        cd ${{ github.workspace }}
        msbuild l-smash.sln /p:Configuration=Debug /p:Platform=${{ matrix.config.msvc_arch }}
        msbuild l-smash.sln /p:Configuration=Release /p:Platform=${{ matrix.config.msvc_arch }}


  win-make-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: 
          - { cpu: i686 }
          - { cpu: x86_64 }
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install mingw-w64
      run: sudo apt install mingw-w64

    - name: Build obuparse
      run: |
        cd ${{ github.workspace }}
        git clone https://github.com/dwbuiten/obuparse.git
        cd obuparse
        ${{ matrix.config.cpu }}-w64-mingw32-gcc -c obuparse.c
        ${{ matrix.config.cpu }}-w64-mingw32-ar r obuparse.lib obuparse.o

    - name: Build
      run: |
        cd ${{ github.workspace }}
        ./configure --cross-prefix=${{ matrix.config.cpu }}-w64-mingw32- --extra-cflags=-I./obuparse --extra-ldflags=-L./obuparse
        make -j$(nproc)


  make-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: 
          - { runner: ubuntu-latest, option: "-m32", opt_com: "nproc" }
          - { runner: ubuntu-latest, option: "-m64", opt_com: "nproc" }
          - { runner: macos-latest, option: "", opt_com: "sysctl -n hw.ncpu" }
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install multilib
      if: ${{ startsWith(matrix.config.runner, 'ubuntu-latest') }}
      run: |
        sudo apt update
        sudo apt install gcc-multilib

    - name: Build obuparse
      run: |
        cd ${{ github.workspace }}
        git clone https://github.com/dwbuiten/obuparse.git
        cd obuparse
        gcc -c obuparse.c ${{ matrix.config.option }}
        ar r libobuparse.a obuparse.o

    - name: Build
      run: |
        cd ${{ github.workspace }}
        ./configure --extra-cflags="-I./obuparse ${{ matrix.config.option }}" --extra-ldflags=-L./obuparse
        make -j$(${{ matrix.config.opt_com }})
